#__next{
  min-width: 100vw;
  min-height: 100vh;

  .searchbar {
    display: flex;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 100px;
  }

  input {
    border: none;
    padding: 0 10px;
    margin: 0;
    width: 80%;
    background: none;
  }

  .navbar {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

}